body{
                background-image: url('https://img.freepik.com/premium-photo/gradient-blur-red-abstract-background_667461-807.jpg');
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .right{
                background-color: rgb(255, 198, 224);
                width: 40%;
                height: 55%;
                position: fixed;
                left: 64%;
                bottom: 15%;
                translate: -50% 0;
                border-radius: 20px;
                 padding: 50px 30px;
            }


            .left{
                background-color: #ffd3e2;
                width:40%;
                height: 87%;
                position:fixed;
                right: 80%;
                bottom: 0%;
                translate: -50% 0;
                border-radius: 20px;
                padding: 40px 20px;
                text-align: center;
            }


            @font-face {
                font-family: lemonjelly;
                src: url('LemonJellyPersonalUse-dEqR.ttf') format(truetype);
                font-weight:normal;

            }

            @font-face {
                font-family: hamster;
                src: url('Hamster.otf') format(truetype);
                font-weight:normal;

            }

            @font-face {
                font-family: agatha;
                src: url('Agatha.ttf') format(truetype);
                font-weight:normal;

            }

            @font-face {
                font-family: feeling-lonely-font;
                src: url('FeelingLonely-JRa0n.otf') format(truetype);
                font-weight:normal;

            }

         .username {
        margin: 50px;
        position:absolute;
        bottom: 50%; 
        right: 25%;
         font-size: 35px;   
         width: 350px;
         height: 30px;   
        }

        .password{
        margin: 50px;
        position:absolute;
        bottom: 30%;
        right: 26%;
        font-size: 35px;

        }

        .title1{

            position:absolute;
            top: 10px;
            left: 25%;
        }

        .title2{
            position:absolute;
            top: 30px;
            left: 38%;

        }

        .title3{
             position:absolute;
            left: 2%;
            bottom: 1%;
            color: rgb(255, 105, 167);
        }

        .introduction{
            position:absolute;
            bottom: 180px;
            left:300px; 
            width: 460px;
        }

        .login{
            background-color:#ffaedb;
            border: 3px solid rgb(255, 255, 255);
            cursor: context-menu;
            color: rgb(255, 255, 255);
            font-size: 35px;
            border-radius: 8px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            bottom: 15%;
            right: 33%;
            position:absolute;
            transition: all 0.3s ease-out;
            width: 300px;
            box-shadow:0 8px 16px 0 rgb(245, 111, 162, 0.5)
        }

        .login:hover{
        background-color:#f77ebe; color: white;
        box-shadow:0 8px 16px 0 rgb(245, 111, 162)

        }
        
        .login a {
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            color: rgb(255, 255, 255);
        }

        .inputty::placeholder{
            display: block;
            width: 50vw;
            padding: 0 1.25rem;

        }

        .velvet {
        left: 50px;
        position: absolute;
        top: 0px;
        }

        .user {
        height: 25px;
        width: 200px;
        position:absolute;
        top: 2px;
        right:-20px;
        }

        .pass {
        height: 25px;
        width: 200px;
        position: absolute;
        right: -30px;
        bottom: 3px;
        }

        .password {
            position:absolute;
            left: 180px;
        }

        .footer {
            position:absolute;
            bottom: -100px;
            left: 50px;
            color: gray;
        }

        .image1{
        border:5px solid rgb(255, 255, 255);
        border-radius: none;
        position:absolute;
        top: 80px;
        left: 50px;
        height: 280px;
        }

        .rememberme {
        position:absolute;
        bottom: 180px;
        left: 300px;
        }

        .me{
        position: absolute;
        bottom: 180px;
        left: 330px;
        }

        .SIGNUP{
        color: #fa1790;
        position: absolute;
        top: 600px;
        left: 250px;
        font-size: 50px;

        }