.scrollablewindow {
    overflow: auto;
    overflow-x: visible;
    grid-template-columns: auto;
    width: 100%;
    height: 1000px;
}

/* Main Shops Selection */

.PhoneCases1H1 {
    position: absolute;
    top: 425px;
    left: 50%;
    font-family: sans-serif;
    font-weight: bold;
    translate: -50%;
}

.Shop1PhoneCaseslists {
    display: grid;
    padding: 20px;
    overflow-x: auto;
    flex-wrap: nowrap;
    grid-template-columns: 220px 220px 220px 220px ;
    row-gap: 30px;
    position: absolute;
    top: 485px;
    width: 75%;
    height: 315px;
    left: 50%;
    translate: -50%;
    overflow-x: auto;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media (max-width: 600px) {
    .Shop1PhoneCaseslists {
        grid-template-columns: 220px 220px;
        grid-template-rows: auto;
        height: auto;
    }

    .ProductList1, .ProductList2, .ProductList3, .ProductList4 {
        width: 200px;
        height: 275px;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
        border: none;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.35);

    }

    .ProductList1:hover, .ProductList2:hover, .ProductList3:hover, .ProductList4:hover {
        display: block;
        height: 310px;
    }

    
}


/* List of ShopCases 1 */
.ProductList1, .ProductList2, .ProductList3, .ProductList4 {
    width: 200px;
    height: 275px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border: none;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.35);

}

.ProductList1:hover .ProductButton1, .ProductList2:hover .ProductButton2, .ProductList3:hover .ProductButton3, .ProductList4:hover .ProductButton4{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}


.ProductList1:hover, .ProductList2:hover, .ProductList3:hover, .ProductList4:hover {
    display: block;
    height: 310px;
}


.ProductImage1, .ProductImage2, .ProductImage3, .ProductImage4 {
    position: absolute;
    width: 100%;
    height: 200px;
}

.ProductName1, .ProductName2, .ProductName3, .ProductName4 {
    position: absolute;
    left: 10px;
    top: 198px;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial;
}

.ProductName1A, .ProductName2A, .ProductName3A, .ProductName4A {
    position: absolute;
    left: 10px;
    top: 220px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    font-family: Arial;
}

.ProductName1B, .ProductName2B, .ProductName3B, .ProductName4B {
    position: absolute;
    left: 10px;
    top: 240px;
    font-size: 15px;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    font-family: Arial;
}

.ProductButton1, .ProductButton2, .ProductButton3, .ProductButton4 {
    position: absolute;
    bottom: 5px;
    width: 90%;
    left: 4.5%;
    height: 30px;
    opacity: 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    transition: opacity 0.1s ease;
}

/* Main Shop 1 Window */

.MainBackgroundBlurShop {
    display: none;
    opacity: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    transition: all 0.3s ease-out;
}

.ProductMainWindow {
    display: none;
    opacity: 0;
    scale: 0.5;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 75%;
    height: 85%;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(124, 124, 124, 0.7);
    border-radius: 15px;
    transition: all 0.3s ease-out;
}

.ExitProductViewButton {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    font-family: Arial;
    font-weight: bolder;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 5px;
    transition: all 0.1s ease-out;
}

.ExitProductViewButton:hover {
    scale: 1.05;
    box-shadow: 0 0 5px rgba(110, 110, 110, 0.5);
}

/* loading product info CSS */
.LoadingProductInfoPanel {
    opacity: 1;
    scale: 1;
    position: fixed;
    top: 55%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 90%;
    background-color: none;
    border-radius: 15px;
    transition: all 0.3s ease-out;
}

.LoadingProductIT1 {
    position: fixed;
    left: 3%;
    top: 5%;
    width: 30%;
    height: 90%;
    border: none;
    border-radius: 7px;
}

.LoadingProductIT2 {
    position: fixed;
    left: 35%;
    top: 5%;
    width: 60%;
    height: 30px;
    border: none;
    border-radius: 7px;
}

.LoadingProductIT3 {
    position: fixed;
    left: 35%;
    top: 15%;
    width: 40%;
    height: 30px;
    border: none;
    border-radius: 7px;
}

.LoadingProductIT1, .LoadingProductIT2, .LoadingProductIT3 {
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(209, 209, 209, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(144, 144, 144, 0.5), rgba(0, 0, 0, 0.5));
    background-size: 400% 100%;
    animation-name: loadinginfosanimate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes loadinginfosanimate {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
        animation-timing-function: ease-in-out;
    }

    100% {
        background-position: 0% 50%;
        animation-timing-function: ease-in-out;
    }
}

@media (max-width: 700px) {
    .ProductMainWindow {
        width: 90%;
        height: 90%;
    }

    .ExitProductViewButton {
        scale: 1.5;
    }
}


