.scrollablewindow {
    overflow: auto;
    overflow-y: visible;
    width: 100%;
    height: 1000px;
}

/* Main Shops Selection */

.PhoneCases1H1 {
    position: absolute;
    top: 405px;
    left: 15%;
    font-family: Arial;
}

.Shop1PhoneCaseslists {
    display: grid;
    grid-row: 10;
    position: absolute;
    top: 485px;
    width: 74.5%;
    height: 275px;
    left: 50%;
    translate: -50%;
    overflow-x: auto;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/* List of ShopCases 1 */
.ProductList1 {
    position: absolute;
    top: 10%;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    left: 10px;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
}


.ProductImage1 {
    position: absolute;
    background-size: 200%;
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 10px;
}

.ProductName1 {
    position: absolute;
    top: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
}

.ProductButton1 {
    position: absolute;
    bottom: 5px;
    width: 90%;
    height: 30px;
    
}

.ProductList1:hover {
    position: relative;
    width: 200px;
    height: 230px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    left: 10px;
    scale: 1.05;
}

.ProductList1:hover .ProductButton1 {
    opacity: 1;
}


.ProductList2 {
    position: absolute;
    top: 10%;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    left: 225px;
}