.scrollablewindow {
    overflow: auto;
    overflow-x: visible;
    grid-template-columns: auto;
    width: 100%;
    height: 1000px;
}

/* Main Shops Selection */

.PhoneCases1H1 {
    position: absolute;
    top: 425px;
    left: 15%;
    translate: -15%;
    font-family: sans-serif;
    font-weight: bold;
}

.PhoneCases2H1 {
    position: absolute;
    top: 855px;
    left: 15%;
    translate: -15%;
    font-family: sans-serif;
    font-weight: bold;
}

.Shop1PhoneCaseslists {
    display: grid;
    padding: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    grid-template-columns: 220px 220px 220px 220px ;
    row-gap: 30px;
    position: absolute;
    top: 495px;
    width: 72%;
    height: 310px;
    left: 50%;
    translate: -50%;
    overflow-x: auto;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    scrollbar-color: rgb(114, 86, 90) rgba(255, 255, 255, 0);
    scrollbar-arrow-color: rgba(110, 110, 110, 0);
    filter: blur(0px);

    animation: FadeOutScrollAnims 1s ease-in-out;
    animation-timeline: --page-scroll;
    animation-range: entry 400px containment 700px;
}


.Shop2PhoneCaseslists {
    display: grid;
    padding: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    grid-template-columns: 220px 220px 220px 220px ;
    row-gap: 30px;
    position: absolute;
    top: 925px;
    width: 72%;
    height: 310px;
    left: 50%;
    translate: -50%;
    overflow-x: auto;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    scrollbar-color: rgb(114, 86, 90) rgba(255, 255, 255, 0);
    scrollbar-arrow-color: rgba(110, 110, 110, 0);
    filter: blur(0px);
}

@keyframes FadeOutScrollAnims {
    0% {
        transform: translateY(0px);
        opacity: 1;
        filter: blur(0px);
    }

    100% {
        transform: translateY(-100px);
        opacity: 0;
        filter: blur(10px);
    }
}

@media (max-width: 600px) {
    .Shop1PhoneCaseslists {
        grid-template-columns: 220px 220px;
        grid-template-rows: auto;
        height: auto;
    }

    .ProductList1, .ProductList2, .ProductList3, .ProductList4, .ProductList5, .ProductList6, .ProductList7, .ProductList8 {
        width: 200px;
        height: 275px;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
        border: none;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.35);

    }

    .ProductList1:hover, .ProductList2:hover, .ProductList3:hover, .ProductList4:hover, .ProductList5:hover, .ProductList6:hover, .ProductList7:hover, .ProductList8:hover {
        display: block;
        height: 310px;
        
    }

    
}


/* List of ShopCases 1 */
.ProductList1, .ProductList2, .ProductList3, .ProductList4 , .ProductList5, .ProductList6, .ProductList7, .ProductList8 {
    width: 200px;
    height: 275px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border: none;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.35);

}

.ProductList1:hover .ProductButton1, .ProductList2:hover .ProductButton2, .ProductList3:hover .ProductButton3, .ProductList4:hover .ProductButton4, .ProductList5:hover .ProductButton5, .ProductList6:hover .ProductButton6, .ProductList7:hover .ProductButton7, .ProductList8:hover .ProductButton8{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}


.ProductList1:hover, .ProductList2:hover, .ProductList3:hover, .ProductList4:hover, .ProductList5:hover, .ProductList6:hover, .ProductList7:hover, .ProductList8:hover {
    display: block;
    height: 310px;
}


.ProductImage1, .ProductImage2, .ProductImage3, .ProductImage4, .ProductImage5, .ProductImage6, .ProductImage7, .ProductImage8 {
    position: absolute;
    width: 100%;
    height: 200px;
}

.ProductName1, .ProductName2, .ProductName3, .ProductName4, .ProductName5, .ProductName6, .ProductName7, .ProductName8 {
    position: absolute;
    left: 10px;
    top: 198px;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial;
}

.ProductName1A, .ProductName2A, .ProductName3A, .ProductName4A, .ProductName5A, .ProductName6A, .ProductName7A, .ProductName8A {
    position: absolute;
    left: 10px;
    top: 220px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    font-family: Arial;
}

.ProductName1B, .ProductName2B, .ProductName3B, .ProductName4B, .ProductName5B, .ProductName6B, .ProductName7B, .ProductName8B {
    position: absolute;
    left: 10px;
    top: 240px;
    font-size: 15px;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    font-family: Arial;
}

.ProductButton1, .ProductButton2, .ProductButton3, .ProductButton4, .ProductButton5, .ProductButton6, .ProductButton7, .ProductButton8 {
    position: absolute;
    bottom: 5px;
    width: 90%;
    left: 4.5%;
    height: 30px;
    opacity: 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    transition: opacity 0.1s ease;
}

/* Main Shop 1 Window */

.MainBackgroundBlurShop {
    display: none;
    opacity: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    transition: all 0.3s ease-out;
}

.ProductMainWindow {
    display: none;
    opacity: 0;
    scale: 0.5;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 75%;
    height: 85%;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(124, 124, 124, 0.7);
    border-radius: 15px;
    transition: all 0.3s ease-out;
}

.ExitProductViewButton {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    font-family: Arial;
    font-weight: bolder;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 5px;
    transition: all 0.1s ease-out;
}

.ExitProductViewButton:hover {
    scale: 1.05;
    box-shadow: 0 0 5px rgba(110, 110, 110, 0.5);
}

/* loading product info CSS */
.LoadingProductInfoPanel {
    opacity: 1;
    scale: 1;
    position: fixed;
    top: 55%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 90%;
    background-color: none;
    border-radius: 15px;
    transition: all 0.3s ease-out;
}

.LoadingProductIT1 {
    position: fixed;
    left: 3%;
    top: 5%;
    width: 30%;
    height: 90%;
    border: none;
    border-radius: 7px;
}

.LoadingProductIT2 {
    position: fixed;
    left: 35%;
    top: 5%;
    width: 60%;
    height: 30px;
    border: none;
    border-radius: 7px;
}

.LoadingProductIT3 {
    position: fixed;
    left: 35%;
    top: 15%;
    width: 40%;
    height: 30px;
    border: none;
    border-radius: 7px;
}

.LoadingProductIT1, .LoadingProductIT2, .LoadingProductIT3 {
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(209, 209, 209, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(144, 144, 144, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(144, 144, 144, 0.5), rgba(0, 0, 0, 0.5));
    background-size: 400% 100%;
    animation-name: loadinginfosanimate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes loadinginfosanimate {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
        animation-timing-function: ease-in-out;
    }

    100% {
        background-position: 0% 50%;
        animation-timing-function: ease-in-out;
    }
}

@media (max-width: 700px) {
    .ProductMainWindow {
        width: 90%;
        height: 90%;
    }

    .ExitProductViewButton {
        scale: 1.5;
    }
}

/* Collection Window CSS */

.MainCollectionWindow {
    position: absolute;
    top: 1300px;
    width: 100%;
    height: 800px;
    left: 50%;
    translate: -50%;
    border: none;
    background: linear-gradient(180deg, rgba(239 135 190)0%, rgb(250, 153, 255)40%);
    z-index: 1;
}

.CollectionBackgroundImage {
    position: absolute;
    width: 100%;
    height: 800px;
    object-fit: cover;
    opacity: 1;
    z-index: 0;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20%);
}

    
.CollectionPreviewIMG1 {
    position: absolute;
    bottom: 200px;
    right: 650px;
    width: 170px;
    height: 300px;
    scale: 1.7;
    border-radius: 15px;
    z-index: 2;
    filter: drop-shadow(0 0 20px);
    animation: animationCollectionIMGs 10s ease-in-out infinite;
    animation-delay: 0.7s;
}

.CollectionPreviewIMG2 {
    position: absolute;
    bottom: 230px;
    right: 450px;
    width: 170px;
    height: 300px;
    scale: 1.7;
    border-radius: 15px;
    z-index: 2;
    transform: rotateY('45deg');
    filter: drop-shadow(0 0 20px);
    animation: animationCollectionIMGs 10s ease-in-out infinite;
    animation-delay: 0.5s;
}

.CollectionPreviewIMG3 {
    position: absolute;
    bottom: 200px;
    right: 250px;
    width: 170px;
    height: 300px;
    scale: 1.7;
    border-radius: 15px;
    z-index: 2;
    filter: drop-shadow(0 0 20px);

    animation: animationCollectionIMGs 10s ease-in-out infinite;
}

.CollectionTitleH1 {
    position: absolute;
    top: 150px;
    left: 10%;
    translate: -10%;
    font-family: Cursive1;
    font-size: 125px;
    font-weight: 1px;
    color: transparent;
    background-image: linear-gradient(to right, rgb(255, 0, 238), rgb(255, 163, 249), rgb(255, 0, 238), rgb(255, 163, 249), rgb(255, 0, 238), rgb(255, 163, 249));
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.545));
    background-size: 600% 100%;
    background-clip: text;
    animation: animationCollectionTitle 10s ease-in-out infinite;
    z-index: 2;
}

.CollectionDescP {
    position: absolute;
    top: 340px;
    left: 10%;
    translate: -10%;
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.CollectionButtonView {
    position: absolute;
    top: 500px;
    left: 9%;
    translate: -9%;
    width: 350px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    color: black;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 2;
}


.CollectionButtonView:hover {
    scale: 1.05;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

@keyframes animationCollectionIMGs {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes animationCollectionTitle {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



