.MainSlideProducts {
    position: relative;
    width: 75%;
    height: 300px;
    left: 50%;
    top: 90px;
    translate: -50%;
    background-color: rgba(255, 255, 255, 0.61);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.MainSlideProducts:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.575);
}


/* for slides */
.SlideTitle1 {
    position: fixed;
    top: 8%;
    left: 100px;
    font-size: 250%;
    font-family: Sans-serif;
    font-weight: bolder;
    text-align: right;
    background: -webkit-linear-gradient(0deg, rgba(30, 20, 22, 0.8), rgba(228, 0, 46, 0.5));
    background-clip: text;
    color: transparent;
}

.SlideDesc1 {
    position: fixed;
    top: 130px;
    left: 100px;
    font-size: clamp(10px, 20px, 20px);
    font-family: Sans-serif;
    font-weight: bolder;
    text-align: right;
    color: black;
}

.SlideButton1 {
    position: absolute;
    bottom: 55px;
    left: 100px;
    width: 200px;
    height: 45px;
    border: 3px solid rgba(117, 117, 117, 0.5);
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease-out;
    background: white;
}

.SlideButton1:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-out;
}

.SlideImage1 {
    position: absolute;
    right: 100px;
    width: 200px;
    height: 200px;
    border: 5px solid rgba(197, 155, 164, 0.5);
    border-radius: 20px;
    top: 15%;
}

/* slide 2 */

.SlideTitle2 {
    position: absolute;
    top: 20px;
    left: 5%;
    font-size: 43px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    background-image: linear-gradient(90deg, rgba(0, 111, 255, 0.8), rgba(106, 255, 0, 0.5), rgb(255, 0, 170), rgb(255, 0, 0));
    background-clip: text;
    color: transparent;
    background-size: 400% 100%;
    animation: colorchanger 30s ease infinite;
    animation-delay: 0.9s;
    opacity: 0;
}

@media (max-width: 1000px) {
    .SlideImage1, .SlideImage2 {
        scale: 0.8;
        right: 20px;
    }
}

.SlideDesc2 {
    position: absolute;
    top: 90px;
    left: 5%;
    font-size: clamp(10px, 20px, 20px);
    font-family: Sans-serif;
    font-weight: bolder;
    color: black;
}

.SlideButton2 {
    position: absolute;
    bottom: 55px;
    left: 5%;
    width: 200px;
    height: 45px;
    border: 3px solid rgba(117, 117, 117, 0.5);
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease-out;
    background: white;
}

.SlideButton2:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-out;
}


.SlideImage2 {
    position: absolute;
    right: 60px;
    max-width: 400px;
    max-height: 200px;
    min-width: 100px;
    min-height: 50px;
    border: none;
    border-radius: 20px;
    top: 15%;
}

@keyframes colorchanger {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    3% {
        opacity: 1;
        background-position: 0% 50%;
        transform: translateX(0px);
    }

    10% {
        background-position: 100% 50%;
    }

    20% {
        background-position: 0% 50%;
    }

    27%{
        opacity: 1;
        background-position: 100% 50%;
        transform: translateX(0px);
        animation-timing-function: ease;
    }

    30% {
        background-position: 0% 50%;
        opacity: 0;
        animation-timing-function: ease;
    }

    100% {
        opacity: 0;
    }
}