.scrollablewindow {
    overflow: auto;
    overflow-y: visible;
    width: 100%;
    height: 1000px;
}

/* Main Shops Selection */

.PhoneCases1H1 {
    position: absolute;
    top: 405px;
    left: 15%;
    font-family: Arial;
}

.Shop1PhoneCaseslists {
    position: absolute;
    top: 485px;
    width: 74.5%;
    height: 200px;
    left: 50%;
    translate: -50%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0);
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.Shop1PhoneCaseslists:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

/* List of ShopCases 1 */
.ProductList1 {
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    left: 10px;
}

.ProductImage1 {
    width: 85px;
    height: 100px;
}